header {
  height: 100px;
  background-color: #d8e7ec;
  margin: 10px;
  padding: 10px;
}

header h1 {
  font-family: 'Arvo', serif;
  width: 400px;
  margin: 30px auto;
  text-align: center;
}

button {
    text-align: center;
    border: none;
    padding: 8px;
    background-color: #6f77a1;
    color: white;
    margin: 10px auto;
    width: 100%;
}

button:hover{
  background-color: #424760;
}

.container {
  width: 600px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container div {
  width: 128px;
  height: 125px;
  margin: 1px;
  box-sizing: border-box;
  border: 1px #ccc solid;
}

img {
  width: 125px;
}

#rodape {
  width: 600px;
  margin: 0px auto;
}

#rodape p{
  text-align: center;
}
